@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat');
*{
    font-family: 'Arial', sans-serif;
    color: grey;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
body {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    margin: 10px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column
}
del {
    color: #fca311;
}
header {
    position: fixed;
    top: 20px;
    width: 100%;
    height: 40px;
    margin: 20px 0;
    z-index: 9999;
    overflow: hidden;
    background-color: blue;
    color: #fca311;
    font-size: x-large;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
main {
    max-height: 100%;
    width: 100%;
    padding: 100px 0 0;
    background-color: teal;
    overflow: auto;
}
nav {
    /*put nav at bottom of page*/
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 100;
    /*set dimension to match page*/
    min-width: 100vw;
    height: 40px;
    /*evenly space out items*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
}
#btn-add_task {
    background-color: #fca311;
    border: none;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: x-large;
    z-index: 200;
}
#nav-items {
    list-style-type: none;
}
#nav-items > li {
    display: block;
}